<div class="max-w-sm mx-auto bg-pink-100 rounded-2xl shadow-lg border border-pink-300 p-6 text-center">
    <!-- Imagen de perfil circular con borde -->
    <div class="flex justify-center">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Desarrollador</h1>
        <br>
      <div class="w-32 h-32 rounded-full border-4 border-pink-400 overflow-hidden shadow-md">
        <img
          src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-1/473314377_2002410270225272_2696685193512674145_n.jpg?stp=cp6_dst-jpg_s200x200_tt6&_nc_cat=108&ccb=1-7&_nc_sid=e99d92&_nc_ohc=78TVPxUcgPQQ7kNvgHw1N6p&_nc_zt=24&_nc_ht=scontent-qro1-1.xx&_nc_gid=Ami9-M3e1bfvx9OLctbm93l&oh=00_AYFxYcLlEiRZw1r3Hfp1HlHOUaz8F3lHA-IAePiFGOh0VQ&oe=67D82DBE"
          alt="Foto de perfil"
          style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"
        />
      </div>
    </div>
  
    <!-- Información de la persona -->
    <div>
      <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Yeimy Belen Huchim Onofre</h2>
      <p style="font-family: 'Times New Roman', Times, serif;">Estudiante de:</p>
      <p style="line-height: 0.5; font-family: 'Times New Roman', Times, serif;">INGENIERÍA EN DESARROLLO Y GESTIÓN DE SOFTWARE</p>
      <br>
      <p style="font-family: 'Times New Roman', Times, serif;">Descripción:</p>
      <p style="font-family: 'Times New Roman', Times, serif;">
        Soy estudiante de ingeniería en la Universidad Tecnológica de San Juan del Río, actualmente me encuentro cursando el 8° cuatrimestre de la carrera en Ingeniería en Desarrollo y Gestión de Software, me
        apasiona mucho la programación enfocada en aplicaciones web y las bases de datos, en un futuro próximo mi sueño es trabajar en una de las grandes empresas tecnológicas del mundo, expandir mis conocimientos
        y poder desenvolverve en muchas más áreas de la programación. Mi pasatiempo favorito son los videojuegos como Valorant y/o Overwatch y me encanta jugar Pokémon TCG, además disfruto mucho de leer, ver series y anime.
      </p>
    </div>
  </div>
  